<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>texter</b></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        </ul>
      </div>
    </div>
</nav>
<div class="content">
    <div class="col-md-12">
    <h1>texter</h1>
    <div class="alert alert-info" role="alert">&#9708; is the pause you will need to jump to next character. Simply write the text you want converted and voila! It will all magically work...</div>
    <div class="center-block">
        <div class="row">
            <div class="col-md-12 one-line-above">
                <div class="col-sm-4">
                    <h2>Text</h2>
                    <textarea class="form-control" id="texterText" rows="12"></textarea>
                </div>
                <div class="col-sm-1 one-line-above">
                    <br><br><br><br><br><br><br>
                    <button class="btn btn-success" onclick="convert();">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
                <div class="col-sm-4">
                    <h2>Keypad</h2>
                    <p class="panel" style="word-break:break-all;" id="texterKeypad"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 one-line-above">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><img src="images/keypad.jpg" alt="keypad" title="keypad" /></div>
            </div>
        </div>

    </div>
</div>
</div>
<script>
    $(function() {

    });

    function convert() {
        var texterText = $("#texterText").val();
        var getValues = { text: texterText };
        var url = "texter/convertToKeypad";
        $.get( url , getValues, function (data) {
            $("#texterKeypad").html(data["keypadtranslation"]);
        });
    }

</script>
